body {
    background-color: ghostwhite;
    display: grid;
    place-items: center;
}

hr {
    border-style: dotted none none;
    border-width: 8px;
    border-color: lightgrey;
    height: 1px;
    width: 10%;
}

h1 {
color:  #70B1CF
}

h3 {
    color:  #70B1CF
}
